@CHARSET "ISO-8859-1";
body {
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
}
#container{
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	background-color: #008B8B;
	color: white;
	text-align: center;
	font-size: x-large;
	padding: 10px;
}

#content{
	padding: 10px;
}

#nav{
	width: 180px;
	float: left;
}

#main{
	width: 800px;
	float: right;
}

#footer{
	overflow: hidden;
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
}

.selected{
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #008B8B;
}

a:HOVER{
	color: red;
}

#nav ul{
	list-style-type: none;
	padding: 5px;
}

.list{
	padding: 0;
	margin: 0 auto;
	align: center;
	
}
form { 
margin: 0 auto; 
width:250px;
}

.error{
	color: red;
	font-weight: bold;
	text-align: center;
}

.ok{
	color: green;
	font-weight: bold;
	text-align: center;
}
.normal{
	color: blue;
	font-weight: bold;
	text-align: center;
}

.list2 {
	padding: 0;
	margin: 0 auto;
	align: center;
	border-collapse: collapse;
    table-layout: fixed;
    width:100%
}
.fcell {
    word-wrap:break-word;
}

.image{
	background-color:#999999;
	border-left: 2px;
	margin: 0 auto;
	padding: 0;
	height: 45px;
	width: 45px;
	float: left;
}